
<!-- Marquee Section -->
<app-marquee-section></app-marquee-section>
<!-- Header Container with Social Media Links -->
<footer class="footer">
  <div class="social-links">
    <!-- Social Media Links -->
    <a href="https://www.facebook.com" class="social-link"><i class="fa fa-facebook"></i></a>
    <a href="https://twitter.com" class="social-link"><i class="fa fa-twitter"></i></a>
    <a href="https://www.instagram.com" class="social-link"><i class="fa fa-instagram"></i></a>
    <!-- Add more social media links as needed -->
  </div>
</footer>
<div class="bg-secondary text-light text-center py-3">
  <p class="mb-0">All rights reserved @S.pandey 2023</p>
</div>


<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
