<!-- shared-text-boxes.component.html -->

<div class="container mt-5">
  <div class="row">

    <div class="col-md-6 mb-4">
      <div class="text-box bg-warning-subtle p-4">
        <h4>Tip 1</h4>
        <p>For building a credit history, the Discover it® Secured Credit Card is a solid choice. It offers cash back rewards and requires no annual fee.</p>
        <p>The Capital One Platinum Credit Card is designed for those with limited credit history. It features no annual fee and an increased credit line after timely payments.</p>
        <p>Consider the Petal® 2 "Cash Back, No Fees" Visa® Credit Card, which provides cash back rewards, no annual fee, and no foreign transaction fees.</p>
        <p>The Secured Mastercard® from Capital One requires a refundable security deposit, offers no annual fee, and considers you for a higher credit line in 6 months.</p>
        <p>OpenSky® Secured Visa® Credit Card allows credit building with no credit check, a refundable deposit, and the chance to improve credit score.</p>
        <p class="writer-name">ThahaThiyena Team</p>
      </div>
    </div>

    <div class="col-md-6 mb-4">
      <div class="text-box bg-danger-subtle p-4">
        <h4>Tip 10</h4>
        <p>Considering a car loan? Credit unions might be your best bet. Known for lower interest rates and member-focused services, they offer flexible terms and unique benefits. Don't forget to compare options to find the best deal!</p>
        <p class="writer-name">ThahaThiyena Team</p>
      </div>
    </div>


  </div>
</div>

<div class="text-center">
  <p class="text-bg-warning">We're Eager to Hear More - Update Us on Recent Developments!</p>
  <p>Email: <a href="mailto:thahathiyena.com@gmail.com">thahathiyena.com@gmail.com</a></p>
</div>
