<div class="container mt-5">
  <h1 class="mb-4 text-primary">Nepalese-Owned Businesses</h1>
  <ul class="list-group">
    <li class="list-group-item mb-3 p-3 bg-light">
      <strong class="text-success">User:</strong> Himalayan Wild Yak<br>
      <strong class="text-danger">Address:</strong> Brambleton Town Center<br>
      22885 Brambleton Plaza<br>
      Ashburn, VA 20148, United States
    </li>
    <li class="list-group-item mb-3 p-3 bg-light">
      <strong class="text-warning">User:</strong> Indochen<br>
      <strong class="text-info">Address:</strong> 4906 Brenman Park Dr, Alexandria, VA 22304
    </li>
    <li class="list-group-item mb-3 p-3 bg-light">
      <strong class="text-success">User:</strong> Royal Nepal Restaurant in Alexandria<br>
      <strong class="text-danger">Address:</strong> 3807 Mt Vernon Ave, Alexandria, VA 22305
    </li>
    <li class="list-group-item mb-3 p-3 bg-light">
      <strong class="text-warning">User:</strong> Himalayan Heritage Restaurant DC<br>
      <strong class="text-info">Address:</strong> 2305 18th St NW, Washington, DC 20009
    </li>
    <li class="list-group-item mb-3 p-3 bg-light">
      <strong class="text-warning">User:</strong> Namaste Cuisine<br>
      <strong class="text-danger">Address:</strong> 6138 Rose Hill Dr, Alexandria, VA 22310
    </li>
    <li class="list-group-item mb-3 p-3 bg-light">
      <strong class="text-warning">User:</strong> Royal Nepal Bistro<br>
      <strong class="text-info">Address:</strong> 131 Maple Ave W A, Vienna, VA 22180
    </li>

    <li class="list-group-item mb-3 p-3 bg-light">
      <strong class="text-warning">User:</strong> NAMASTE MARKET<br>
      <strong class="text-danger">Address:</strong> 2929 Gallows Rd #130, Falls Church, VA 22042
    </li>
  </ul>
</div>


<div class="text-center">
  <p class="text-bg-warning">We're Eager to Hear More - Update Us on Recent Developments!</p>
  <p>Email: <a href="mailto:thahathiyena.com@gmail.com">thahathiyena.com@gmail.com</a></p>
</div>
