<div class="container mt-5">
  <div class="row">

    <div class="col-md-6 mb-4">
      <div class="text-box bg-danger-subtle p-4">
        <h4>Tip 2</h4>
        <ol>
        <h4 class="bg-warning">Health Insurance Enrollment</h4>
          <li>Enrollment periods start every year from the 1st of November to the 15th of December.</li>
          <li>Take time to compare different health insurance plans, premiums, deductibles, copayments, prescriptions, and coverages, and select the best health insurance plan for your needs.</li>
          <li>Understand coverage and cost before choosing your health insurance carrier and plan.</li>
          <li>Choose health insurance based on your health needs or anticipated medical treatments.</li>
          <li>Please take advantage of preventive services at no cost provided by health insurance for their members.</li>
        </ol>
        <p class="writer-name">
          <p class="text-bg-primary"> Raj Shrestha</p>
          Real Estate Advisor<br>
          Health and Life Insurance Advisor<br>
          Auto and Home Insurance Advisor<br>
          Certified Listing Professional<br>
          Certified Real Estate Negotiator<br>
          Regional Marketing Director<br>
          Mobile # 703-470-8028<br>
          Email - rajstha2011@gmail.com

      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="text-box bg-danger-subtle p-4">
        <h4>Tip 1</h4>
        <p class="bg-warning">"Health is Wealth. Peace of mind is happiness." - Swami Sivananda</p>
        <ol>
          <li>Avoid giving soda (Coke, Fanta, etc.) to your kids.</li>
          <li>Be mindful of the sugar content in juices; try to consume them in moderation.</li>
          <li>Avoid developing a habit of eating junk food (chips, sausages, etc.).</li>
        </ol>
        <p class="writer-name text-bg-primary">CNA Babita Bhandari</p>
      </div>
    </div>

  </div>
</div>

<div class="text-center">
  <p class="text-bg-warning">We're Eager to Hear More - Update Us on Recent Developments!</p>
  <p>Email: <a href="mailto:thahathiyena.com@gmail.com">thahathiyena.com@gmail.com</a></p>
</div>
