<!-- Marquee Section -->
<div class="container mt-1">
  <div class="marquee">
    <p>
      <span style="color: red;">💞राधा पियारी💞को </span>
      <span style="color: blue;">चन्चले</span>
      <span style="color: green;">मनका</span>
      <span style="color: orange;">अनुभुतीहरु !!!</span>
      <!-- More colorful text -->
    </p>
  </div>

  <div class="alert alert-info" role="alert">
    <div class="row">
      <div class="col-md-4 col-sm-12 mb-3">
        <!-- Hidden thumbnail image -->
        <!--        <img [src]="thumbnailImageUrl" alt="Thumbnail" class="img-thumbnail" style="display: none">-->
        <!-- Arjun Ranabhat's Photo -->
        <img src="assets/images/radha1.JPG" alt="Sani" class="img-responsive img-thumbnail">
        <img src="assets/images/radha2.JPG" alt="Sani2" class="img-responsive img-thumbnail">
        <img src="assets/images/radha3.JPG" alt="Sani3" class="img-responsive img-thumbnail">
        <!--      <img src="assets/images/PersonOfTheMonth.jpeg" alt="Arjun Ranabhat" class="img-responsive img-thumbnail">-->
      </div>
      <div class="col-md-8 col-sm-12">

        <h3 style="font-family: 'Arial', sans-serif; color: #2a6496; font-size: 24px; font-weight: bold; border-bottom: 2px solid sandybrown; display: inline-block; padding-bottom: 5px;">
          💞राधा पियारी💞 !
        </h3>
        <!--      <p class="text-primary" style="font-family: 'Arial', sans-serif; font-size: 18px; font-weight: bold;">-->
        <!--        A Source of Inspiration and Culinary Excellence-->
        <!--      </p>-->


        <div style="margin-top: 20px; border: 1px solid #ccc; padding: 20px; border-radius: 5px;">
          <h4 style="font-family: 'Arial', sans-serif; color: #2a6496; font-weight: bold; margin-bottom: 10px;"> शब्दले...:</h4>
          <p style="font-family: 'Arial', sans-serif; font-size: 16px; text-align: justify;">
            शब्दले सबै कुरा बताउन सकिन्न,<br>
            मनमा धेरै कुराहरु हुन्छन्,<br>
            ती सबै वास्तविक पनि हुन्न,<br>
            शब्दले सधैं कन्भिन्स पनि गर्न सकिन्न।<br>
            मानिसले आफ्नो तरिकाले ब्याख्या गरिदिन्छन्,<br>
            बुझाई,ज्ञान,कर्म अनुसार,केही कुरा समयलाई नि छोड्नुपर्छ ,<br>
            शब्दले नदिने कुरा मौनताले पनि दिन्छ ।
            <br>
          </p>
          <br><br><br>

          <h4 style="font-family: 'Arial', sans-serif; color: #2a6496; font-weight: bold; margin-bottom: 10px;"> तिमी...:</h4>
          <p style="font-family: 'Arial', sans-serif; font-size: 16px; text-align: justify;">
            धेरै मिहिनेत गरेर बनाएछन् भगवानले<br>
            र त घायल बनाउछ उस्को मुस्कानले !!<br><br>

            पन्छाएर बाटोको काडा तिमी सँगसँगै<br>
            भिरपाखा तिम्रै साथ हिड्न पाँउ सानले !!
            <br>
          </p>
          <!-- Add the Twitter page link here -->
          <p class="text-primary" style="font-family: cursive, sans-serif; font-size: 18px; font-weight: bold; color: yellow;">
            👉 <a href="https://twitter.com/Chakletigirl" target="_blank" style="text-decoration: none;">Follow 💞राधा पियारी💞 on Twitter</a>
          </p>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- Second box -->
<div class="mt-1 mb-5 mb-3">
  <div style="padding: 0 80px;"> <!-- Adding padding on both sides -->
  <div class="alert alert-info" role="alert">
    <div class="row">
      <div class="col-md-4 col-sm-12 mb-3">
        <!-- Hidden thumbnail image -->
        <!--        <img [src]="thumbnailImageUrl" alt="Thumbnail" class="img-thumbnail" style="display: none">-->
        <!-- Arjun Ranabhat's Photo -->
        <img src="assets/images/Sani.jpeg" alt="Sani" class="img-responsive img-thumbnail">
        <img src="assets/images/sani2.jpeg" alt="Sani2" class="img-responsive img-thumbnail">
        <img src="assets/images/sani3.jpeg" alt="Sani3" class="img-responsive img-thumbnail">
        <!--      <img src="assets/images/PersonOfTheMonth.jpeg" alt="Arjun Ranabhat" class="img-responsive img-thumbnail">-->
      </div>
      <div class="col-md-8 col-sm-12">

        <div class="text-bg-warning" style="padding: 20px; border-radius: 10px;">
          <h3 style="font-family: 'Arial', sans-serif; color: #2a6496; font-size: 24px; font-weight: bold; border-bottom: 2px solid sandybrown; display: inline-block; padding-bottom: 5px;">
            <span style="background-color: #f8e71c; padding: 5px; border-radius: 5px;">💞राधा पियारी💞</span>
          </h3>
          <!-- Content for the second box -->
          <div style="margin-top: 20px; border: 1px solid #ccc; padding: 20px; border-radius: 5px;">
            <!-- Text content -->
            <h4 style="font-family: 'Arial', sans-serif; color: #2a6496; font-weight: bold; margin-bottom: 10px;">कहाँ सजिलो छ..:</h4>
            <p style="font-family: 'Arial', sans-serif; font-size: 16px; text-align: justify;">
              ढुङगा माटोले  बनेको  सानो  घर छ  मेरो<br>
              भत्किरहन्छ सदैव  टाल्न, कहाँ सजिलो  छ !!<br><br>

              कहिल्यै नमेटिने तिम्रा भाला झै  यादहरुलाई<br>
              पानीले पखाले झै पखाल्न कहाँ सजिलो छ !!<br><br>

              जीवन बिताउन अनेक  संघर्ष  गर्नुपर्छ  हजुर‌<br>
              मेलापात धाउन घर सम्हाल्न, कहाँ सजिलो छ !!

            </p>

            <!-- More text content -->
            <h4 style="font-family: 'Arial', sans-serif; color: #2a6496; font-weight: bold; margin-bottom: 10px;"> जाने नै भए..:</h4>
            <p style="font-family: 'Arial', sans-serif; font-size: 16px; text-align: justify;">
              जाने नै भएपछि जानुको कारण न खुलाइकन जाऊ<br>
              तिमी पनि नदुख मलाई पनि न दुखाइकन जाऊ !!<br><br>

              यति खेरको मौनता मेरै मनले रोजेको हो ,<br>
              सक्छौं भने यो मनको अहङ्कार लाई नसम्झाइ जाऊ !!<br><br>
            </p>

            <!-- Twitter link -->
            <p class="text-primary" style="font-family: cursive, sans-serif; font-size: 18px; font-weight: bold; color: yellow;">
              👉 <a href="https://twitter.com/Chakletigirl" target="_blank" style="text-decoration: none;">Follow 💞राधा पियारी💞 on Twitter</a>
            </p>
          </div>
        </div>

      </div>
      <!-- Website link -->
      <p class="text-primary" style="font-family: cursive, sans-serif; font-size: 18px; font-weight: bold; color: yellow;">
       <a style="text-decoration: none;">For more Of 💞राधा पियारी💞 Poets!</a>
        👉 <a href="https://manmagan.com" target="_blank" style="text-decoration: none; color: red;">Visit Manmagan.com</a>
      </p>
    </div>
  </div>
</div>
</div>
