<div class="container mt-4">
  <!-- Jumbotron for Heading -->
  <div class="jumbotron bg-warning text-primary text-center">
    <h2> Virginia, Washington DC, Maryland Jobs Openings !!!</h2>
  </div>

  <!-- Marquee Section -->
  <div class="marquee">
    <p>
      <span style="color: red;">DMV Area</span>
      <span style="color: blue;">Jobs</span>
      <span style="color: green;">Posting</span>
      <span style="color: orange;">Soon!!!</span>
      <!-- More colorful text -->
    </p>
  </div>

  <!-- Cards Section -->
  <div class="row">
    <div class="col-md-4" *ngFor="let job of jobListings">
      <div class="card mb-4 shadow-sm">
        <div class="card-body">
          <h5 class="card-title">{{ job.title }}</h5>
          <p class="card-text">{{ job.description }}</p>
          <p class="card-text"><strong>Location:</strong> {{ job.location }}</p>
          <p class="card-text"><strong>Company:</strong> {{ job.company }}</p>
          <p class="card-text"><strong>Salary:</strong> {{ job.salary }}</p>
          <p class="card-text"><strong>Posted Date:</strong> {{ job.postedDate }}</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary" (click)="viewDetails(job.id)">View Details</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Call to Action Section -->
  <div class="bg-success-subtle p-4 mt-4 text-center">
    <p class="lead text-danger">
      Are you hiring? Let us know!
    </p>
    <p class="text-bg-warning">We're Eager to Hear More - Update Us on Recent Developments!</p>
    <p>Email: <a href="mailto:thahathiyena.com@gmail.com">thahathiyena.com@gmail.com</a></p>
  </div>
</div>
