<div class="container mt-4">
  <!-- Jumbotron for Heading -->
  <div class="jumbotron bg-warning text-primary text-center">
    <h2> Virginia, Washington DC, Maryland Jobs Openings !!!</h2>
  </div>

  <!-- Marquee Section -->
  <div class="marquee">
    <p>
      <span style="color: red;">DMV Area</span>
      <span style="color: blue;">Jobs</span>
      <span style="color: green;">Posting</span>
      <span style="color: orange;">Soon!!!</span>
      <!-- More colorful text -->
    </p>
  </div>
  <!-- Cards Section -->
  <div class="row">
    <div class="col-md-4">
      <div class="card shadow">
        <div class="card-body">
          {{ firstComment }}
          <p class="text-primary">Recommendation coming ... </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card shadow">
        <div class="card-body">
          {{ secondComment }}
          <p class="text-primary">Recommendation coming ... </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card shadow">
        <div class="card-body">
          {{ thirdComment }}
          <p class="text-primary">Recommendation coming ... </p>
        </div>
      </div>
    </div>
  </div> <!-- End of Cards Row -->

  <!-- Call to Action Section -->
  <div class="bg-success-subtle p-4 mt-4 text-center">
    <p class="lead text-danger">
      Are you hiring ? Let us know !!!
    </p>
    <p class="text-bg-warning">We're Eager to Hear More - Update Us on Recent Developments!</p>
    <p>Email: <a href="mailto:thahathiyena.com@gmail.com">thahathiyena.com@gmail.com</a></p>
  </div>
</div> <!-- End of Main Container -->
