<div class="container mt-5">
  <h1 class="mb-4 text-primary">Nepalese-Owned Businesses</h1>
  <ul class="list-group">
    <li class="list-group-item mb-3 p-3 bg-light">
      <strong class="text-success">User:</strong> Bajeko Sekuwa <br>
      <strong class="text-danger">Address:</strong> Queens<br>
      43-16 Queens Blvd <br>
      Queens, NY 11104
    </li>
    <li class="list-group-item mb-3 p-3 bg-light">
      <strong class="text-warning">User:</strong> Taste From Everest<br>
      <strong class="text-danger">Address:</strong> Manhattan Between 27 &, E 28th St<br>
      102 Lexington Avenue<br>
      Manhattan, NY 10016
    </li>
    <li class="list-group-item mb-3 p-3 bg-light">
      <strong class="text-warning">User:</strong> Himalayan Yak Restaurant<br>
      <strong class="text-danger">Address:</strong> Queens, NY<br>
      72-20 Roosevelt Ave <br>
      Queens, NY 11372
    </li>

    <li class="list-group-item mb-3 p-3 bg-light">
      <strong class="text-warning">User:</strong> Nepali Bhanchha Ghar<br>
      <strong class="text-danger">Address:</strong>  Queens, NY<br>
      74-15 Roosevelt Ave <br>
      Queens, NY 11372
    </li>

    <li class="list-group-item mb-3 p-3 bg-light">
      <strong class="text-warning">User:</strong> MOUNT EVEREST DELI & GROCERY<br>
      <strong class="text-danger">Address:</strong> Queens, NY<br>
      5609 Myrtle Ave <br>
      Queens, NY 11385
    </li>
  </ul>
</div>

<div class="text-center">
  <p class="text-bg-warning">We're Eager to Hear More - Update Us on Recent Developments!</p>
  <p>Email: <a href="mailto:thahathiyena.com@gmail.com">thahathiyena.com@gmail.com</a></p>
</div>
