<!-- Marquee Section -->
<div class="marquee">
  <p>
    <span style="color: red;">Arjun </span>
    <span style="color: blue;">Ranabhat</span>
    <span style="color: green;">True</span>
    <span style="color: orange;">Inspiration !!!</span>
    <!-- More colorful text -->
  </p>
</div>

<div class="alert alert-info" role="alert">
  <div class="row">
    <div class="col-md-4 col-sm-12 mb-3">
      <!-- Arjun Ranabhat's Photo -->
      <img src="assets/images/ArjunPhoto.jpeg" alt="Arjun Ranabhat" class="img-responsive img-thumbnail">
      <img src="assets/images/PersonOfTheMonth.jpeg" alt="Arjun Ranabhat" class="img-responsive img-thumbnail">
    </div>
    <div class="col-md-8 col-sm-12">
      <!-- Arjun Ranabhat's Biography -->
      <h3 style="font-family: 'Arial', sans-serif; color: #2a6496; font-size: 24px; font-weight: bold; border-bottom: 2px solid sandybrown; display: inline-block; padding-bottom: 5px;">
        Biography: Arjun Ranabhat
      </h3>
      <p class="text-primary" style="font-family: 'Arial', sans-serif; font-size: 18px; font-weight: bold;">
        A Source of Inspiration and Culinary Excellence
      </p>

      <div style="margin-top:20px;">
        <!-- Culinary Journey -->
        <h4 style="font-family: 'Arial', sans-serif; color: #2a6496; font-weight: bold;">Culinary Journey:</h4>
        <p style="font-family: 'Arial', sans-serif; font-size: 16px;">
          Arjun's culinary journey is marked by significant roles and continuous growth. He began as a Lead Line Cook at The Jefferson Hotel, later advancing to Chef Tournant at Fiola Italian Restaurant, where he mastered the art of handmade pasta. His expertise deepened as Sous-Chef at Hay Adams Hotel and further at The Willard InterContinental Hotel's Café du Parc, where he notably implemented a new French menu.
        </p>
        <p style="font-family: 'Arial', sans-serif; font-size: 16px;">
          In his current role as Corporate Executive Chef at Cuisine Solutions since August 2016, Arjun has been a driving force in culinary innovation and new dining concepts. His commitment extends beyond the kitchen, as shown by his efforts in continuous learning, obtaining certifications in various culinary disciplines, and engaging in philanthropy, including food drives and supporting his village in Nepal.
        </p>
        </div>

      <!-- Professional Achievements -->
      <h4 style="font-family: 'Arial', sans-serif; color: #2a6496; font-weight: bold;">Professional Achievements:</h4>
      <p style="font-family: 'Arial', sans-serif; font-size: 16px;">
        Arjun's career has soared with pivotal roles like Senior Sous Chef at The Willard InterContinental Hotel and Corporate Executive Chef at Cuisine Solutions, VA. Renowned for culinary innovation, he launched a celebrated French menu at Café du Parc and significantly contributed to the financial well-being of several establishments. His dedication to culinary perfection is highlighted by numerous certifications, including sous vide cooking and a Serve Safe Food Handler Manager License.
      </p>

      <!-- Philosophy and Influence -->
      <h4 style="font-family: 'Arial', sans-serif; color: #2a6496; font-weight: bold;">Philosophy and Influence:</h4>
      <p style="font-family: 'Arial', sans-serif; font-size: 16px;">
        Arjun's big heart shines in his philanthropic endeavors. He generously provides weekly meals to the needy, spreading compassion through his culinary skills. His empathy extended to aiding those affected by the Maui fires, where he prepared meals for disaster victims. Arjun's culinary acts are not just about feeding; they bring comfort and care to those in dire need. His contributions to quality Nepali cuisine have been recognized in media outlets like The Washington Post, The Eater, and on Fox 5’s Hometown Hero news segment.
      </p>

      <!-- Personal Life -->
      <h4 style="font-family: 'Arial', sans-serif; color: #2a6496; font-weight: bold;">Personal Life:</h4>
      <p style="font-family: 'Arial', sans-serif; font-size: 16px;">
        More than a chef, Arjun is a family man, adventurer, and philanthropist. He cherishes time with his wife and son, sharing his passion for motorcycles and travel. These explorations not only enhance his culinary skills but also enrich his personal growth. His deep connection to his Nepali roots is evident in his regular visits and contributions to his home village, intertwining the threads of family, adventure, and altruism.
      </p>

      <!-- Challenges and Overcoming Adversity -->
      <h4 style="font-family: 'Arial', sans-serif; color: #2a6496; font-weight: bold;">Challenges and Overcoming Adversity:</h4>
      <p style="font-family: 'Arial', sans-serif; font-size: 16px;">
        Juggling family life, managing Bombay Street Food, organizing charitable food drives, and fulfilling his duties as a Corporate Executive Chef, Arjun navigates the complexities of his multifaceted life with passion and resilience. His success is a testament to his ability to harmoniously blend his personal and professional responsibilities, setting a commendable example of balance and dedication.
      </p>

      <!-- Media and Public Presence -->
      <h4 style="font-family: 'Arial', sans-serif; color: #2a6496; font-weight: bold;">Media and Public Presence:</h4>
      <p style="font-family: 'Arial', sans-serif; font-size: 16px;">
        Arjun's contributions extend beyond the kitchen into the heart of the community. His leadership in organizing weekly food drives at Bombay Street Foods, National Harbor, and his widespread recognition in media including The Washington Post and The Eater, showcase his commitment to societal well-being and his role as a culinary ambassador in the public eye.
      </p>

      <!-- Legacy and Future Plans -->
      <h4 style="font-family: 'Arial', sans-serif; color: #2a6496; font-weight: bold;">Legacy and Future Plans:</h4>
      <p style="font-family: 'Arial', sans-serif; font-size: 16px;">
        Arjun aspires to establish a Michelin-starred Nepalese restaurant, a goal that symbolizes his dedication to culinary excellence and his desire to celebrate his heritage. This ambitious vision is not just about creating a restaurant; it’s about crafting a legacy that blends Nepalese flavors with American tastes, paying homage to his roots and the culinary traditions passed down from his mother.
      </p>

      <!-- References and Testimonials -->
      <h4 style="font-family: 'Arial', sans-serif; color: #2a6496; font-weight: bold;">References and Testimonials:</h4>
      <p style="font-family: 'Arial', sans-serif; font-size: 16px;">
        “Arjun's commitment and friendliness have been integral to our team's success,” says Huy Phan of Cuisine Solutions. “His exceptional culinary skill, coupled with his unwavering work ethic and warm camaraderie, make him a standout colleague and a culinary inspiration.”
      </p>

      <!-- Photographs and Recipes -->
      <h4 style="font-family: 'Arial', sans-serif; color: #2a6496; font-weight: bold;">Photographs and Recipes:</h4>
      <p style="font-family: 'Arial', sans-serif; font-size: 16px;">
        Explore Arjun's culinary artistry through the stunning visuals on Bombay Street Food's Instagram (@bombaystfoodnationalharbor) and the gallery on his restaurant's website
        <a href="https://www.bombayharbor.us" target="_blank" class="web">Bombay Street Food Gallery</a>.
      </p>

    </div>
  </div>
</div>
