<div class="container mt-5">
  <h1 class="mb-4 text-primary">Nepalese-Owned Businesses</h1>
  <ul class="list-group">
    <li class="list-group-item mb-3 p-3 bg-light">
      <strong class="text-success">User:</strong> Tara's Himalayan Cuisine <br>
      <strong class="text-danger">Address:</strong> Los Angeles <br>
      10855 Venice Blvd<br>
      Los Angeles, CA 90034
    </li>
    <li class="list-group-item mb-3 p-3 bg-light">
      <strong class="text-warning">User:</strong> Himalayan House <br>
      <strong class="text-danger">Address:</strong> Los Angeles <br>
      1277 W Jefferson Blvd <br>
      Los Angeles, CA 90007
    </li>
    <li class="list-group-item mb-3 p-3 bg-light">
      <strong class="text-warning">User:</strong> Tibet Nepal House Restaurant <br>
      <strong class="text-danger">Address:</strong>Pasadena, CA <br>
      36 E Holly St #3905 <br>
      Pasadena, CA 91103
    </li>

<!--    <li class="list-group-item mb-3 p-3 bg-light">-->
<!--      <strong class="text-warning">User:</strong> Mallko Nepali Store<br>-->
<!--      <strong class="text-danger">Address:</strong>  Lewisville, Texas <br>-->
<!--      2401 S Stemmons Fwy Suite 2096 <br>-->
<!--      Lewisville, TX 75067-->
<!--    </li>-->

    <!--    <li class="list-group-item mb-3 p-3 bg-light">-->
    <!--      <strong class="text-warning">User:</strong> MOUNT EVEREST DELI & GROCERY<br>-->
    <!--      <strong class="text-danger">Address:</strong> Queens, NY<br>-->
    <!--      5609 Myrtle Ave <br>-->
    <!--      Queens, NY 11385-->
    <!--    </li>-->
    <!--  </ul>-->
    <!--</div>-->

    <!--<div class="text-center">-->
    <!--  <p class="text-bg-warning">We're Eager to Hear More - Update Us on Recent Developments!</p>-->
    <!--  <p>Email: <a href="mailto:thahathiyena.com@gmail.com">thahathiyena.com@gmail.com</a></p>-->
  </ul>
</div>
