<div class="container mt-1">
  <!-- Header Container with Social Media Links -->
  <div class="header-container">
    <div class="social-links">
      <!-- Social Media Links -->
      <a href="https://www.facebook.com/profile.php?id=61554560603743&is_tour_dismissed=true" target="_blank"
         class="social-link"><i class="fa fa-facebook"></i></a>
      <a href="https://twitter.com/ThahaThiyena" target="_blank" class="social-link"><i class="fa fa-twitter"></i></a>
      <a href="https://www.instagram.com/thahathiyena/" target="_blank" class="social-link"><i
        class="fa fa-instagram"></i></a>
      <!--      <a href="https://www.linkedin.com" target="_blank" class="social-link"><i class="fa fa-linkedin"></i></a>-->
    </div>
  </div>


  <!-- Logo -->
  <div class="text-center">
    <div class="row">
      <!-- Box for Temperature in Kathmandu -->
      <div class="col">
        <div class="text-bg-info">
          <h2 class="text-primary" style="font-size: 16px;">Kathmandu Nepal</h2>
          <p id="tempKathmandu">{{ temperatureInKathmandu }}</p>
        </div>
      </div>

      <!-- Box for Temperature at Everest Base Camp -->
      <div class="col">
        <div class="text-bg-warning">
          <h2 class="text-primary" style="font-size: 16px;">Everest Basecamp</h2>
          <p id="tempEverestBaseCamp">{{ temperatureAtEverestBaseCamp }}</p>
        </div>
      </div>

      <!-- Box for Temperature at Annapurna Base Camp -->
      <div class="col">
        <div class="text-bg-info">
          <h2 class="text-primary" style="font-size: 16px;">Annapurna Basecamp</h2>
          <p id="tempAnnapurnaBaseCamp">{{ temperatureAtAnnapurnaBaseCamp }}</p>
        </div>
      </div>
      <div class="col-md-12 text-center">
        <img src="assets/images/logo.png" alt="Janeko Thiyena Logo" class="img-responsive" style="max-height: 200px;">

        <!-- Marquee Section -->
        <div class="marquee">
          <p>
            <span style="color: blue;">Good Luck </span>
            <span style="color: red;">Enjoy</span>
            <span style="color: green;"> Mt Annapurna</span>
            <span style="color: darkorange;"> Trekking !</span>
            <!-- More colorful text -->
          </p>
        </div>


        <!-- Alert Box for Trekking Advice -->
        <div class="alert alert-info" role="alert">
          <p class="lead text-center">
            Venture with insight: Engage a knowledgeable guide and porter, ensure you're well-equipped,
            and tread each path with respect. Cherish the serenity of the mountains and preserve their
            pristine condition. Remember, mountain communities are incredibly hospitable, yet deeply
            connected to their environment and culture. Show the utmost respect to their traditions and
            land, for when these are threatened, their goodwill can understandably turn to protectiveness.
            Support local livelihoods, safeguard cultural legacies, and promote environmental stewardship.
            Keep the peace, leave no trace, and let your passage enrich the land and its guardians.
          </p>
          <p style="font-family: 'Pacifico', cursive; font-size:24px;color: darkgoldenrod;">ThahaThiyena.com</p>
        </div>


        <!-- Alert Boxes and Other Content -->
    <div class="alert alert-info" role="alert">
      <p class="lead text-center">
        Gear up for the upcoming Annapurna Basecamp trekking season! I find March-April to be the most splendid time to explore.
      </p>
      <p class="text-danger text-center">A passion for trekking through a lifetime</p>
      <p class="text-center" style="font-family: 'Pacifico', cursive; font-size:24px;color: darkgoldenrod;">Shankar Pandey</p>
      <p class="text-center"><strong>Email:</strong> <a href="mailto:thahathiyena.com@gmail.com">thahathiyena.com@gmail.com</a></p>

      <!-- Image gallery -->
      <div class="image-gallery">
        <div class="row">
          <!-- Adjusting column sizes as needed for 3 images per row -->
          <div class="col-md-4"><img src="assets/images/jeep.jpg" class="img-fluid" alt="Lukla day 1 activities"></div>
          <div class="col-md-4"><img src="assets/images/Jhinu.jpg" class="img-fluid" alt="Jhinu"></div>
          <div class="col-md-4"><img src="assets/images/Sinuwa.jpg" class="img-fluid" alt="Sinuwa"></div>
          <div class="col-md-4"><img src="assets/images/Deurali.jpg" class="img-fluid" alt="Deurali"></div>
          <div class="col-md-4"><img src="assets/images/MachhaPuchhre.jpg" class="img-fluid" alt="Machhapuchhre"></div>
          <div class="col-md-4"><img src="assets/images/Aannapurna.jpg" class="img-fluid" alt="Annapurna"></div>
          <!-- Add more images as needed -->
        </div>
        <div class="text-center mt-2">
          <a routerLink="/trekking" class="btn btn-light">Explore Now</a>
        </div>
      </div>
    </div>
  </div>



<div class="text-center">
    <p class="text-bg-warning">We're Eager to Hear More - Update Us on Recent Developments!</p>
    <p>Email: <a href="mailto:thahathiyena.com@gmail.com">thahathiyena.com@gmail.com</a></p>
  </div>
</div>
