<!-- yoga.component.html -->

<div class="container mt-5">
  <div class="row">
    <div *ngFor="let tip of tips" class="col-md-6 mb-4">
      <div class="text-box bg-danger-subtle p-4">
        <h4>{{ tip.title }}</h4>
        <p>{{ tip.description }}</p>
        <ol *ngIf="tip.points && tip.points.length > 0">
          <li *ngFor="let point of tip.points">{{ point }}</li>
        </ol>

        <div>Watch this Video</div>
        <div><a href="https://www.youtube.com/watch?v=JMmA-7kl7K0">Surya Namaskar Step by Step</a> </div>
        <div>Watch this Video after Surya Namaskar Sivananda Yoga</div>
        <div><a href="https://www.youtube.com/watch?v=jwCZyq7emDc">12 basic Yoga Asanas Sivananda Yoga </a> </div>
        <p class="writer-name">{{ tip.writer }}</p>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="text-box bg-danger-subtle p-4">
      <h4>
        Breathing Exercise (Pranayama)
      </h4>
        <li> Kapalabhati</li>
        <li>Anuloma Viloma</li>

      <p> <a href="https://www.youtube.com/watch?v=buBiKQEsmDM">Watch here for Kapalabhati & Anuloma Viloma Pranayama Class</a> </p>
      </div>
    </div>

  </div>
</div>

<div class="text-center">
  <p class="text-bg-warning">We're Eager to Hear More - Update Us on Recent Developments!</p>
  <p>Email: <a href="mailto:thahathiyena.com@gmail.com">thahathiyena.com@gmail.com</a></p>
</div>
