<div class="container mt-5">
  <div class="jumbotron bg-warning text-primary text-center">
    <h2>Up Coming Events and New openings! </h2>
  </div>

  <div class="container bg-success-subtle p-4">
    <p class="lead text-center">
      Do you have information about upcoming events that would benefit the public? We welcome your detailed submissions.
    </p>


    <div class="text-center">
      <p>Location: Washington DC, USA</p>
      <p>Email: <a href="mailto:thahathiyena.com@gmail.com">shankar12np@gmail.com</a></p>
    </div>
  </div>
</div>
<br>
<br>
