<div class="container mt-4">
  <!-- Jumbotron for Heading -->
  <div class="jumbotron bg-warning text-primary text-center">
    <h2> Celebration, Events and New Openings!</h2>
  </div>

  <!-- Cards Section -->
  <div class="row">
    <div class="col-md-4">
      <div class="card shadow">
        <div class="card-body">
          {{ firstComment }}
          <p class="text-primary">Recommendation coming ... </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card shadow">
        <div class="card-body">
          {{ secondComment }}
          <p class="text-primary">Recommendation coming ... </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card shadow">
        <div class="card-body">
          {{ thirdComment }}
          <p class="text-primary">Recommendation coming ... </p>
        </div>
      </div>
    </div>
  </div> <!-- End of Cards Row -->

  <!-- Call to Action Section -->
  <div class="bg-success-subtle p-4 mt-4 text-center">
    <p class="lead">
      Do you have information about upcoming events that would benefit the public? We welcome your detailed submissions.
    </p>
    <p class="text-bg-warning">We're Eager to Hear More - Update Us on Recent Developments!</p>
    <p>Email: <a href="mailto:thahathiyena.com@gmail.com">thahathiyena.com@gmail.com</a></p>
  </div>
</div> <!-- End of Main Container -->
