<div class="container mt-4">
  <h2>Nepali Movies</h2>
  <div class="row">
    <!-- Loop over each Nepali movie -->
    @for (movie of nepaliMovies; track movie) {
      <div class="col-md-4">
        <div class="card mb-3">
          <!-- Display movie poster -->
          @if (movie.poster_path) {
            <img
              [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
              class="card-img-top"
              alt="{{ movie.title }}"
              />
          }
          <div class="card-body">
            <!-- Display movie title -->
            <h5 class="card-title">{{ movie.title }}</h5>
            <!-- Display movie overview -->
            <p class="card-text">{{ movie.overview | slice: 0:500 }}...</p>
            <!-- Display cast names with strong and italic formatting -->
            <p class="card-text">
              <strong><em>Cast:</em></strong>
              @for (actor of movie.cast; track actor; let last = $last) {
                @if (!last) {
                  <em>{{ actor.name }}</em>,&nbsp;
                }
                @if (last) {
                  <em>{{ actor.name }}</em>
                }
              }
            </p>
          </div>
        </div>
      </div>
    }
  </div>
</div>
