<div class="container mt-1">
  <!-- Header Container with Social Media Links -->
  <div class="header-container">
    <div class="social-links">
      <!-- Social Media Links -->
      <a href="https://www.facebook.com/profile.php?id=61554560603743&is_tour_dismissed=true" target="_blank" class="social-link"><i class="fa fa-facebook"></i></a>
      <a href="https://twitter.com/ThahaThiyena" target="_blank" class="social-link"><i class="fa fa-twitter"></i></a>
      <a href="https://www.instagram.com/thahathiyena/" target="_blank" class="social-link"><i class="fa fa-instagram"></i></a>
<!--      <a href="https://www.linkedin.com" target="_blank" class="social-link"><i class="fa fa-linkedin"></i></a>-->
    </div>
  </div>

<!--  &lt;!&ndash; Fixed Top Section &ndash;&gt;-->
<!--  <div class="fixed-top-custom">-->
<!--    <div class="container">-->
<!--      <div class="row">-->
<!--        &lt;!&ndash; Box for Kathmandu Time &ndash;&gt;-->
<!--        <div class="col">-->
<!--          <div class="card bg-gradient" style="padding: 20px;">-->
<!--            <h2 class="text-primary" style="font-size: 16px;">Nepal Time</h2>-->
<!--            <p id="timeKathmandu">{{ timeInKathmandu }}</p>-->
<!--          </div>-->
<!--        </div>-->

<!--        &lt;!&ndash; Box for Temperature in Kathmandu &ndash;&gt;-->
<!--        <div class="col">-->
<!--          <div class="card bg-gradient" style="padding: 20px;">-->
<!--            <h2 class="text-primary" style="font-size: 16px;">Kathmandu</h2>-->
<!--            <p id="tempKathmandu">{{ temperatureInKathmandu }}</p>-->
<!--          </div>-->
<!--        </div>-->

<!--        &lt;!&ndash; Box for Temperature at Everest Base Camp &ndash;&gt;-->
<!--        <div class="col">-->
<!--          <div class="card bg-gradient" style="padding: 20px;">-->
<!--            <h2 class="text-primary" style="font-size: 16px;">Everest Basecamp</h2>-->
<!--            <p id="tempEverestBaseCamp">{{ temperatureAtEverestBaseCamp }}</p>-->
<!--          </div>-->
<!--        </div>-->

<!--        &lt;!&ndash; Box for Temperature at Annapurna Base Camp &ndash;&gt;-->
<!--        <div class="col">-->
<!--          <div class="card bg-gradient" style="padding: 20px;">-->
<!--            <h2 class="text-primary" style="font-size: 16px;">Annapurna Basecamp</h2>-->
<!--            <p id="tempAnnapurnaBaseCamp">{{ temperatureAtAnnapurnaBaseCamp }}</p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

  <!-- Logo -->
  <div class="text-center">
    <div class="row">
      <!-- Box for Kathmandu Time -->
<!--      <div class="col m-2">-->
<!--        <div class="text-bg-warning">-->
<!--          <h2 class="text-primary" style="font-size: 16px;">Nepal Time</h2>-->
<!--          <p id="timeKathmandu">{{ timeInKathmandu }}</p>-->
<!--        </div>-->
<!--      </div>-->

      <!-- Box for Temperature in Kathmandu -->
      <div class="col">
        <div class="text-bg-info">
          <h2 class="text-primary" style="font-size: 16px;">Kathmandu Nepal</h2>
          <p id="tempKathmandu">{{ temperatureInKathmandu }}</p>
        </div>
      </div>

      <!-- Box for Temperature at Everest Base Camp -->
      <div class="col">
        <div class="text-bg-warning">
          <h2 class="text-primary" style="font-size: 16px;">Everest Basecamp</h2>
          <p id="tempEverestBaseCamp">{{ temperatureAtEverestBaseCamp }}</p>
        </div>
      </div>

      <!-- Box for Temperature at Annapurna Base Camp -->
      <div class="col">
        <div class="text-bg-info">
          <h2 class="text-primary" style="font-size: 16px;">Annapurna Basecamp</h2>
          <p id="tempAnnapurnaBaseCamp">{{ temperatureAtAnnapurnaBaseCamp }}</p>
        </div>
      </div>
      <div class="col-md-12 text-center">
        <img src="assets/images/logo.png" alt="Janeko Thiyena Logo" class="img-responsive" style="max-height: 200px;"> <!-- Adjust max-height as needed -->
      </div>

  <!-- Alert Boxes and Other Content -->
  <div class="alert alert-info" role="alert">
    <p class="lead text-center">
      Contribute to our community's growth through knowledge sharing.
      Sharing knowledge is like practicing Gyana Yoga, fostering inner peace and community betterment.
      Your contributions impact countless individuals, enhancing our collective journey toward enlightenment. ~~ Shankar.Pandey
    </p>
  </div>


      <div class="alert alert-info" role="alert">
        <div class="row">
          <div class="col-md-4 col-sm-12 mb-3">
            <!-- Arjun Ranabhat's Photo -->
            <img src="assets/images/ArjunPhoto.jpeg" alt="Arjun Ranabhat" class="img-responsive img-thumbnail">
          </div>
          <div class="col-md-8 col-sm-12">
            <!-- Arjun Ranabhat's Biography -->
            <h3 style="font-family: 'Arial', sans-serif; color: #2a6496; font-size: 24px; font-weight: bold; border-bottom: 2px solid sandybrown; display: inline-block; padding-bottom: 5px;">
              Biography: Arjun Ranabhat
            </h3>
            <p class="text-primary">
              Arjun Ranabhat is truly an inspiring person and his biography is coming soon...
            </p>
          </div>
        </div>
      </div>


      <div class="alert alert-danger" role="alert">
    <p class="lead text-center colorful-wavy-text">
      🎄 Embrace the festive season! Check out what's happening now in our Christmas-themed corner. 🎅
      <a routerLink="/happening-now" class="btn btn-light">Explore Now</a>
    </p>
  </div>

  <div class="alert alert-info" role="alert">
    <p class="lead text-center colorful-wavy-text">
      🎉 Up coming events and new openings in DVM. 🎆
      <a routerLink="/up-coming-event" class="btn btn-light">Learn More</a>
    </p>
  </div>

  <div class="alert alert-info" role="alert">
    <p class="lead text-center colorful-wavy-text">
      🎉 Planning a Trekking Adventure to Annapurna, Everest Gokyo? Get Expert Insights Here! 🎆
      <a routerLink="/trekking" class="btn btn-light">Explore Now</a>
    </p>
  </div>

  <div class="alert alert-info" role="alert">
    <p class="text-bg-danger text-center">
      Discover DMV's Top Nepalese-Owned Businesses: Authentic Cuisine and Traditional stores !
      <a routerLink="/nepalese-own-business" class="btn btn-primary">Explore Now</a>
    </p>
  </div>

  <div class="alert alert-info" role="alert">
    <p class="text-danger text-center">
    <h5>Discover Baltimore's Top Nepalese-Owned Businesses: Authentic Cuisine and Traditional stores ! </h5>
      <a routerLink="/baltimore" class="btn btn-primary">Explore Now</a>
  </div>

  <div class="alert alert-info" role="alert">
    <p class="text-danger text-center">
    <h5>Discover New York's Top Nepalese-Owned Businesses: Authentic Cuisine and Traditional stores ! </h5>
    <a routerLink="/new-york" class="btn btn-primary">Explore Now</a>
  </div>

  <div class="alert alert-info" role="alert">
    <p class="text-danger text-center">
    <h5>Discover LOS ANGELES's Top Nepalese-Owned Businesses: Authentic Cuisine and Traditional stores ! </h5>
    <a routerLink="/los-angeles" class="btn btn-primary">Explore Now</a>
  </div>

  <div class="alert alert-info" role="alert">
    <p class="text-danger text-center">
    <h5>Discover DALLAS  TEXAS AREA's Top Nepalese-Owned Businesses: Authentic Cuisine and Traditional stores ! </h5>
    <a routerLink="/dallas" class="btn btn-primary">Explore Now</a>
  </div>


  <!--  &lt;!&ndash; Update the structure for each card &ndash;&gt;-->
<!--  <div class="row">-->
<!--    <div class="col-lg-4 mb-4">-->
<!--      <div class="card custom-card card-color-1" routerLink="/new-york" style="cursor: pointer">-->
<!--        <div class="card-body text-bg-info">-->
<!--          <h5 class="card-title text-primary">All ABOUT NEW YORK </h5>-->
<!--          <p class="card-text">NEW YORK INFO AND JOB POSTING here ....</p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="col-lg-4 mb-4">-->
<!--      <div class="card custom-card card-color-2" routerLink="/los-angeles" style="cursor: pointer">-->
<!--        <div class="card-body text-bg-warning">-->
<!--          <h5 class="card-title  text-primary">ALL ABOUT LOS ANGELES</h5>-->
<!--          <p class="card-text">LOS ANGELES INFO AND JOB POSTING here ... </p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="col-lg-4 mb-4">-->
<!--      <div class="card custom-card card-color-3" style="cursor: pointer;" routerLink="/dallas">-->
<!--        <div class="card-body">-->
<!--          <h5 class="card-title  text-primary">ALL ABOUT DALLAS TEXAS</h5>-->
<!--          <p class="card-text"> DALLAS  TEXAS AREA INFO AND JOB POSTING here....</p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

  <hr class="my-4">
  <h3 class="text-danger-emphasis text-center">Share Your Turning Point</h3>

  <!-- Bootstrap Grid System for 9 Boxes -->
  <!-- Update the structure for each card -->
  <div class="row">
    <div class="col-lg-4 mb-4">
      <div class="card custom-card card-color-1" routerLink="/new-in-community" style="cursor: pointer">
        <div class="card-body">
          <h5 class="card-title text-primary">New In Community</h5>
          <p class="card-text">New to America! Welcome click here yo learn  basics...</p>
          </div>
      </div>
    </div>

    <div class="col-lg-4 mb-4">
      <div class="card custom-card card-color-2" routerLink="/health-tips" style="cursor: pointer">
        <div class="card-body">
          <h5 class="card-title  text-primary">Health Tips</h5>
          <p class="card-text">Start Your Healthy habit, Learn more here... </p>
          </div>
      </div>
    </div>

    <div class="col-lg-4 mb-4">
      <div class="card custom-card card-color-3" style="cursor: pointer;" routerLink="/yoga">
        <div class="card-body">
          <h5 class="card-title  text-primary">Yoga</h5>
          <p class="card-text">Yoga and more</p>
          <p class="card-text">Start Your Healthy habit, Learn more here...</p>
        </div>
      </div>
    </div>

    <!-- Repeat for BanksAndCreditCards, LegalHelp, RealEstate, Deadlines, ITJobHelp, and ImmigrationsHelp -->
    <div class="col-lg-4 mb-4">
      <div class="card custom-card card-color-4" style="cursor: pointer;" routerLink="/banks-and-credit-cards">
        <div class="card-body">
          <h5 class="card-title  text-primary">Banks and Credit Card Tips</h5>
          <p class="card-text">Content related to the Banks and Credit Card help topic.</p>
          <p class="card-text">Start Your Healthy habit, Learn more here...</p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 mb-4">
      <div class="card custom-card card-color-5" style="cursor: pointer;" routerLink="/legal-help">
        <div class="card-body">
          <h5 class="card-title  text-primary">Legal Tips</h5>
          <p class="card-text">Content related to Legal Tips help topic.</p>
          <p class="card-text">Start Your Healthy habit, Learn more here...</p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 mb-4">
      <div class="card custom-card card-color-6" style="cursor: pointer;" routerLink="/deadlines">
        <div class="card-body">
          <h5 class="card-title  text-primary">Important Deadlines</h5>
          <p class="card-text">Content related to Important Deadlines tips help topic.</p>
          <p class="card-text">Start Your Healthy habit, Learn more here...</p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 mb-4">
      <div class="card custom-card card-color-7" style="cursor: pointer;" routerLink="/real-estate">
        <div class="card-body">
          <h5 class="card-title  text-primary">Real Estate Tips</h5>
          <p class="card-text">Buying First home?</p>
          <p class="card-text">Start Your Healthy habit, Learn more here...</p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 mb-4">
      <div class="card custom-card card-color-8" style="cursor: pointer;" routerLink="/it-job-help">
        <div class="card-body">
          <h5 class="card-title  text-primary">IT Job Tips</h5>
          <p class="card-text">Content related to IT Job Tips help topic.</p>
          <p class="card-text">Start Your Healthy habit, Learn more here...</p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 mb-4">
      <div class="card custom-card card-color-9" style="cursor: pointer;" routerLink="/immigrations-help">
        <div class="card-body">
          <h5 class="card-title  text-primary">Immigrations Tips</h5>
          <p class="card-text">Content related to Immigrations Tips tips help topic.</p>
          <p class="card-text">Start Your Healthy habit, Learn more here...</p>
        </div>
      </div>
    </div>
  </div>
  </div>

