.custom-card {
  background-color: lightgoldenrodyellow;
}

.colorful-wavy-text {
  display: inline-block;
  font-family: 'Arial', sans-serif;
  font-size: 1.2em;
  background: linear-gradient(45deg, #ff00ff, #ff6600, #ffcc00, #00cc00, #0099cc, #ff00ff);
  background-size: 400%;
  color: transparent;
  -webkit-background-clip: text;
  animation: wavyAnimation 3s infinite linear;
}

@keyframes wavyAnimation {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  /* Add specific styles for the logo here if needed */
}

.header-container {
  position: relative;
  text-align: center;
}

.social-links {
  position: fixed; /* Keeps it fixed on the screen */
  top: 10px; /* Distance from the top */
  left: 10px; /* Distance from the left side */
  z-index: 1000; /* Ensures it stays on top of other content */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.social-link {
  margin-bottom: 15px; /* Adjust space between links */
  font-size: 33px; /* Adjust icon size as needed */
}

.fa-facebook { color: #3b5998; } /* Facebook color */
.fa-twitter { color: #1DA1F2; } /* Twitter color */
.fa-instagram { color: #C13584; } /* Instagram color */
.fa-linkedin { color: #0077b5; } /* LinkedIn color */

@media screen and (max-width: 600px) {
  .social-links {
    top: 5px; /* Adjust for smaller screens */
    left: 5px; /* Adjust for smaller screens */
  }
}

.img-responsive {
  max-width: 100%;
  height: auto;
}
.custom-card {
  background-color: lightgoldenrodyellow; /* Change to your preferred background color */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Adds a subtle shadow */
  overflow: hidden; /* Ensures no content spills out */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Smooth transition for hover effects */
}

.custom-card:hover {
  transform: translateY(-5px); /* Slightly lift the card on hover */
  box-shadow: 0 6px 12px rgba(0,0,0,0.2); /* Increase shadow on hover */
}

.custom-card .card-body {
  padding: 15px; /* Adjust the padding inside the card */
}

.custom-card .card-title {
  margin-bottom: 15px; /* Space below the card title */
  color: #0056b3; /* Title color - choose what fits your design */
}

.custom-card .card-text {
  color: #333333; /* Text color - choose what fits your design */
}

@media (max-width: 768px) {
  .custom-card {
    margin-bottom: 20px; /* More space between cards on smaller screens */
  }
}
