<div class="container mt-5">
  <h1 class="mb-4 text-primary">Nepalese-Owned Businesses</h1>
  <ul class="list-group">
    <li class="list-group-item mb-3 p-3 bg-light">
      <strong class="text-success"></strong> Bajeko Sekuwa (Himalayan Grill) <br>
      <strong class="text-danger">Address:</strong> Irving, Texas <br>
      5465 N MacArthur Blvd <br>
      Irving, TX 75038
    </li>
    <li class="list-group-item mb-3 p-3 bg-light">
      <strong class="text-warning"></strong> CAFEMANDU - Flavors of Nepal<br>
      <strong class="text-danger">Address:</strong> Irving, Texas <br>
      3711 N Belt Line Rd <br>
      Irving, TX 75038
    </li>
    <li class="list-group-item mb-3 p-3 bg-light">
      <strong class="text-warning"></strong> Namaste Grill & Bar <br>
      <strong class="text-danger">Address:</strong>Irving, Texas <br>
      2234 W Walnut Hill Ln <br>
      Irving, TX 75038
    </li>

    <li class="list-group-item mb-3 p-3 bg-light">
      <strong class="text-warning"></strong> Mallko Nepali Store<br>
      <strong class="text-danger">Address:</strong>  Lewisville, Texas <br>
      2401 S Stemmons Fwy Suite 2096 <br>
      Lewisville, TX 75067
    </li>

    <li class="list-group-item mb-3 p-3 bg-light">
      <strong class="text-warning"></strong> More Business will be listed here !!!<br>
<!--      <strong class="text-danger">Address:</strong> Queens, NY<br>-->
<!--      5609 Myrtle Ave <br>-->
<!--      Queens, NY 11385-->
    </li>
<!--  </ul>-->
<!--</div>-->

<!--<div class="text-center">-->
<!--  <p class="text-bg-warning">We're Eager to Hear More - Update Us on Recent Developments!</p>-->
<!--  <p>Email: <a href="mailto:thahathiyena.com@gmail.com">thahathiyena.com@gmail.com</a></p>-->
  </ul>
</div>
