<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 mb-4">
      <div class="text-box bg-danger-subtle p-4">
        <h4>Tip 1</h4>
        <p>Buying your first home right is the best thing you could ever do for your family.</p>
        <ol>
          <li>Establish a realistic budget considering property cost, closing costs, and maintenance.</li>
          <li>Get pre-approved for a mortgage to understand your borrowing capacity.</li>
          <li>Thoroughly research neighborhoods, considering safety, schools, and future property value.</li>
          <li>Utilize the expertise of a real estate agent for guidance and effective negotiation.</li>
          <!-- Add more points as needed -->
        </ol>
        <p class="writer-name text-bg-primary">Realtor Kushum Acharya</p>
        <p>Phone : 703-689-6996</p>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="text-box bg-danger-subtle p-4">
        <h4>Tip 2</h4>
        <p>Buy and build equity in your home.</p>
        <ol>
          <li>Save at least 20% of the purchase price for a down payment to secure better mortgage terms.</li>
          <li>Be mindful that Homeowners Association (HOA) and condo fees may increase over time.</li>
          <li>If you have children, consider the quality of the school zone when choosing a property.</li>
          <li>Find a trustworthy and experienced realtor to guide you through the buying process.</li>
          <!-- Add more points as needed -->
        </ol>
        <p class="writer-name text-bg-warning">Shankar Pandey</p>
      </div>
    </div>
    <!-- Add more tips as needed -->
  </div>
</div>

<div class="text-center">
  <p class="text-bg-warning">We're Eager to Hear More - Update Us on Recent Developments!</p>
  <p>Email: <a href="mailto:thahathiyena.com@gmail.com">thahathiyena.com@gmail.com</a></p>
</div>
