<!-- Marquee Section -->
<div class="marquee">
  <p>
    <span style="color: red;">Celebrating Success</span>
    <span style="color: blue;">Greetings</span>
    <span style="color: green;">Best Wishes</span>
    <span style="color: orange;">Make It Happen!</span>
    <!-- More colorful text -->
  </p>
</div>


<div class="container mt-5">
  <div class="row">

    @for (tip of tips; track tip) {
      <div class="col-md-6 mb-4">
        <div class="text-box bg-danger-subtle p-4">
          <h4>{{ tip.title }}</h4>
          @if (tip.points && tip.points.length > 0) {
            <ol>
              @for (point of tip.points; track point) {
                <li>{{ point }}</li>
              }
            </ol>
          } @else {
          }
          @if (tip.description) {
            <p class="bg-warning">{{ tip.description }}</p>
          } @else {
          }
          <p class="writer-name">{{ tip.writer }}</p>
        </div>
      </div>
    }

  </div>
</div>


<div class="text-center">
  <p class="text-bg-warning">We're Eager to Hear More - Update Us on Recent Developments!</p>
  <p>Email: <a href="mailto:thahathiyena.com@gmail.com">thahathiyena.com&#64;gmail.com</a></p>
</div>
