<!-- Existing logo and other content -->
<div class="col-md-12 text-center">
  <img src="assets/images/logo.png" alt="Janeko Thiyena Logo" class="img-responsive" style="max-height: 200px;">
</div>

<!-- Marquee Section -->
<div class="marquee">
  <p>
    <span style="color: blue;">Annapurna is calling you! Do it when you can,</span>
    <span style="color: darkorange;">Everest is calling you! Do it when you can,</span>
    <span style="color: darkblue;">Gokyo is calling you! Do it when you can,</span>
    <span style="color: darkorange;">Langtang is calling you! Do it when you can,</span>
    <span style="color: darkblue;">Prove it you can do it!</span>
  </p>
</div>
