<div class="container mt-5">
  <h1 class="mb-4 text-primary">Nepalese-Owned Businesses</h1>
  <ul class="list-group">
    <li class="list-group-item mb-3 p-3 bg-light">
      <strong class="text-success">User:</strong> Nepal House - Restaurant & Bar <br>
      <strong class="text-danger">Address:</strong> Baltimore<br>
      920 N Charles St <br>
      Baltimore, MD 21201
    </li>
    <li class="list-group-item mb-3 p-3 bg-light">
      <strong class="text-warning">User:</strong> Himalayan House - Nepalese/Indian Restaurant<br>
      <strong class="text-danger">Address:</strong> Baltimore<br>
      1522 E Fort Ave <br>
      Baltimore, MD 21230
    </li>
    <li class="list-group-item mb-3 p-3 bg-light">
      <strong class="text-warning">User:</strong> Mount Everest Restaurant and Bar - Hampden<br>
      <strong class="text-danger">Address:</strong> Baltimore<br>
      1011 W 36th St <br>
      Baltimore, MD 21211
    </li>

    <li class="list-group-item mb-3 p-3 bg-light">
      <strong class="text-warning">User:</strong> Mount Everest Grocery<br>
      <strong class="text-danger">Address:</strong>  Loch Raven Baltimore<br>
      6833 Loch Raven Blvd <br>
      Loch Raven, MD 21286
    </li>

    <li class="list-group-item mb-3 p-3 bg-light">
      <strong class="text-warning">User:</strong> Nepali Bazaar<br>
      <strong class="text-danger">Address:</strong> Parkville, MD<br>
      2537 Putty Hill Ave <br>
      Parkville, MD 21234
    </li>

<!--    <li class="list-group-item mb-3 p-3 bg-light">-->
<!--      <strong class="text-warning">User:</strong> Himalayan Heritage Restaurant DC<br>-->
<!--      <strong class="text-info">Address:</strong> 2305 18th St NW, Washington, DC 20009-->
<!--    </li>-->
<!--    <li class="list-group-item mb-3 p-3 bg-light">-->
<!--      <strong class="text-warning">User:</strong> Namaste Cuisine<br>-->
<!--      <strong class="text-danger">Address:</strong> 6138 Rose Hill Dr, Alexandria, VA 22310-->
<!--    </li>-->
<!--    <li class="list-group-item mb-3 p-3 bg-light">-->
<!--      <strong class="text-warning">User:</strong> Royal Nepal Bistro<br>-->
<!--      <strong class="text-info">Address:</strong> 131 Maple Ave W A, Vienna, VA 22180-->
<!--    </li>-->

<!--    <li class="list-group-item mb-3 p-3 bg-light">-->
<!--      <strong class="text-warning">User:</strong> NAMASTE MARKET<br>-->
<!--      <strong class="text-danger">Address:</strong> 2929 Gallows Rd #130, Falls Church, VA 22042-->
<!--    </li>-->
  </ul>
</div>


<div class="text-center">
  <p class="text-bg-warning">We're Eager to Hear More - Update Us on Recent Developments!</p>
  <p>Email: <a href="mailto:thahathiyena.com@gmail.com">thahathiyena.com@gmail.com</a></p>
</div>
